.nav__links--link:hover:visited {
	color: yellow;
}
.nav__links--link:hover:link {
	color: magenta;
}

.nav__links--link:visited {
	color: mediumpurple;
}

/* root  */
:root {
	background-color: #777;
}

html {
	background-color: #333;
}

/* specificity */
#nav {
	background-color: purple;
}

nav {
	background-color: yellow;
}

.nav {
	background-color: blue;
}

/* 1st & last children  */
.first-last-children > p:first-child {
	color: magenta;
}
.first-last-children > p:last-child {
	color: midnightblue;
}

body section:last-child {
	background-color: powderblue;
}

/* 1st & last of type  */
.container > *:first-of-type {
	border: 3px solid black;
}

section:last-of-type {
	background-color: mediumorchid;
}

nav li:last-of-type {
	padding-right: 50px;
	text-transform: uppercase;
}

/* nth child & nth of type  */
.general-sibling--paragraphs > p:nth-child(2) {
	background-color: darkviolet;
}

.general-sibling--paragraphs > p:nth-child(3n + 2) {
	background-color: dodgerblue;
}

/* even & odd */
.general-sibling--paragraphs > p:nth-child(odd) {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

input:disabled::placeholder {
	opacity: 0.3;
	color: red;
	text-decoration: line-through;
}

:checked {
	box-shadow: 0.1rem 1rem 1.2rem 2px #222;
}

:required::placeholder {
	text-transform: uppercase;
}
