/* hover, visited & link */
.nav__link:hover:visited {
	color: yellow;
}
.nav__link:hover:link {
	color: magenta;
}

.nav__link:visited {
	color: mediumpurple;
}

/* root */
:root {
	background-color: #777;
}

html {
	background-color: #333;
}

/* specificity */
#nav {
	background-color: purple;
}

nav {
	background-color: yellow;
}

.nav {
	background-color: blue;
}

/* first & last children */
.first-last-children > p:first-child {
	color: magenta;
}

.first-last-children > p:last-child {
	color: midnightblue;
}

/* first & last of type */
.container > *:first-of-type {
	border: 1px solid #000;
}

section:last-of-type {
	background-color: mediumorchid;
}

li:last-of-type {
	padding-right: 50px;
	text-transform: uppercase;
}

/* nth child & nth of type  */
.general-sibling--paragraphs > p:nth-child(7) {
	background-color: darkviolet;
}

.general-sibling--paragraphs > p:nth-child(3n + 2) {
	background-color: dodgerblue;
}

/* even & odd */
.general-sibling > p:nth-child(odd) {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

/* UI state pseudo-classes */
input:disabled::placeholder {
	opacity: 0.3;
	color: red;
	text-decoration: line-through;
}

:checked {
	box-shadow: 0.1rem 1rem 1.2rem 2px #222;
}

:required::placeholder {
	text-transform: uppercase;
}

/* == 
:not() - go to https://codepen.io/SigmaSchoolHQ/pen/xxbpJZz
== */
